.content {
    background-color: #fff;
    max-width: 800px;
    width: 70%;
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 5%;
    overflow: auto;
    max-height: 300px; 
    position: relative;
}

.content::-webkit-scrollbar {
    width: 0px;
}

.content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50%; /* Make the thumb circular */
}

.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.definition {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap; 
}

.list-content {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}

li {
    display: inline;
    list-style: none;
    border: 1px solid #BDBDBD;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.definition {
     display: flex; 
    flex-direction: column;
    gap: 5px;
    align-items: flex-start; 
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 40px;
    padding-bottom: 40px;
}